<footer class="mainfooter" role="contentinfo">
    <div className="footer animate__animated animate__fadeInUp">
        <div>
            <p>Meisam E Zarghani &nbsp;&nbsp;|&nbsp; May - 2021 - last edit 1 Dec 2022 </p>
        </div>
    </div>
</footer>