<form id="second-form">
    <div class="search-container">
        <input type="text" id="search-input" class="search-box" placeholder="search the FT" value="" />
        <button id="search-button" class="search-button" type="submit" value="submit">
            Search
        </button>
    </div>
    <div class="pageNumberContainer">
        <button id="itemsPerPage" class="itemsPerPage">5</button>
        <div class="paginatedNumber" id="pageNumberItems">
            <button id="item-1" class="items">5</button>
            <button id="item-2" class="items">10</button>
            <button id="item-3" class="items">20</button>
        </div>
        <p class="itemPerPage">Items per page!</p>
        <button href="#" class="paginationPrevious" id="paginationPrevious">
            <i class="fas fa-angle-left"></i>
        </button>
        <button href="#" class="pagination1" id="pagination1"></button>
        <button href="#" class="pagination2" id="pagination2"></button>
        <button href="#" class="pagination3" id="pagination3"></button>
        <button href="#" class="paginationNext" id="paginationNext">
            <i class="fas fa-angle-right"></i>
        </button>
    </div>
</form>