<form action="/" method="GET" id="second-form">
    <div class="search-container">
        <input name ="key" class="search-box" placeholder="search the FT" value="{{key}}" />
        <button class="search-button">
            Search
        </button>
    </div>
</form>