<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css"/>
    <title>App Meisam E Zarghani </title>
    <script src="https://kit.fontawesome.com/a511542277.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="root">
        <nav class="title-container">
            <p>HandleBars</p>
        </nav>
            <hr class="new5">
    </div>
        <div id="main">
            {{{body}}}
        </div>
   </div>
</body>
</html>